smc/data/schema/Config.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:element name="Preferences" type="PrefType" />
	
	<xsd:complexType name="PrefType">
		<xsd:sequence>
			<xsd:element name="Item" type="ItemType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ItemType">
		<xsd:attribute name="Name" type="xsd:string" />
		<xsd:attribute name="Value" type="xsd:string" />
	</xsd:complexType>
</xsd:schema>